//- Header
- const h1Title = 'Travel Portal'
-
    const mainNavigation = [
        {
            class: '',
            title: 'How It Works',
            link: '#preview',
        },
        {
            class: '',
            title: 'Plan Your Trip',
            link: '#steps',
        },
        {
            class: '',
            title: 'Destinations',
            link: '#destinations',
        },
        {
            class: '',
            title: 'Travel Stories',
            link: '#stories',
        },
    ]
-
    const authorizationList = [
        {
            class: ' desktop',
            title: 'Login',
            link: '#login',
        },
        {
            class: ' mobile',
            title: 'Account',
            link: '#login',
        }
    ]
-
    const contacts = [
        {
            class: ' mobile',
            title: 'Social media',
            link: '#footer',
        }
    ]