//- Section preview
- const previewTitle = 'Explore the beauty of'
- const previewWorld = 'the World'
- const previewText = 'Receive personalized recommendations for countries, hotels, activities and more'
- const previewInput = 'What would you like to do?'
- const previewButton = 'Start Planning'