//- Section Steps
- const stepsTitle = '3 steps to the perfect trip'
-
    const stepsTextArray = {
        'Tell us what you want to do': 'bicycle',
        'Share us preferable dates ': 'calendar',
        'We will give you recommendations': 'airplane',
    }