// Section Destinations
- const destinationsTitle = 'Popular destinations'
- const destinationsButton = 'Find more'
-
    const destinationsSlider = [
        {
            name: 'Spain',
            title: 'Spain',
            link: '1',
        },
        {
            name: 'Japan',
            title: 'Japan',
            link: '2',
        },
        {
            name: 'USA',
            title: 'USA',
            link: '3',
        },
    ]