//- Footer
- copyrightsText = 'All Rights Reserved &copy; Travel Portal'
-
    socialsLits = [
        {
            name: 'instagram',
            link: 'instagram.com',
        },
        {
            name: 'youtube',
            link: 'youtube.com',
        },
        {
            name: 'twitter',
            link: 'twitter.com',
        },
    ]