//- Section Destinations
- const pathDestination = 'slider';
- const pathDestinationMobile = `${pathDestination}/mobile`;

// Section Stories
- const pathStories = 'stories'
- const pathStoriesMobile = `${pathStories}/mobile`
