// Paths
include ../base/_paths

//- Page settings
- const mainPageTitle = 'Travel';

// Variables
include _01-header-var
include _02-preview-var
include _03-steps-var
include _04-destionations-var
include _05-stories-var
include _06-footer-var