extends html/layouts/_page-layout

block header
    .header__wrapper
        include html/includes/_01-header
        include html/includes/_02-preview

block footer
    .footer__wrapper
        include html/includes/_05-stories
        include html/includes/_06-footer