section.preview
    .container.preview__container
        h2.preview__title= previewTitle
            br
            |
            =previewWorld
        p.preview__text= previewText
        form.preview__form.form-preview
            input.form-preview__input(type='text' placeholder=previewInput)
            button.btn.form-preview__button(type='button')= previewButton