include ../components/_socials

footer.footer
    .container.footer__container
        .footer__content
            .footer__copyrights
                p.footer__text All Rights Reserved &copy; Travel Portal
            .footer__socials
                +socials('footer', 'socials', socialsLits)