@font-face {
  font-family: Aleo;
  font-display: swap;
  src: url("../assets/fonts/Aleo-Bold.woff2") format("woff2"), url("../assets/fonts/Aleo-Bold.woff") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: RedHatText;
  font-display: swap;
  src: url("../assets/fonts/RedHatText-Medium.woff2") format("woff2"), url("../assets/fonts/RedHatText-Medium.woff") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Aleo;
  font-display: swap;
  src: url("../assets/fonts/Aleo-Italic.woff2") format("woff2"), url("../assets/fonts/Aleo-Italic.woff") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Aleo;
  font-display: swap;
  src: url("../assets/fonts/Aleo-Regular.woff2") format("woff2"), url("../assets/fonts/Aleo-Regular.woff") format("woff2");
  font-weight: 400;
  font-style: normal;
}
