@use "sass:math";

@mixin adaptive($property, $startSize, $minSize, $type) {
  $addSize: $startSize - $minSize;
  @if $type==1 {
    // только если меньше контейнера
    #{$property}: $startSize + px;
    @media (max-width: #{$maxWidthWrapper + px}) {
      #{$property}: calc(#{$minSize+px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthWrapper - 320}));
    }
  } @else if $type==2 {
    // только если больше контейнера
    #{$property}: $startSize + px;
    @media (min-width: #{$maxWidthWrapper + px}) {
      #{$property}: calc(#{$minSize + px} + #{$addSize} + ((100vw - 320px) / #{$maxWidth - 320}));
    }
  } @else {
    // всегда
    #{$property}: calc(#{$minSize+px} + #{$addSize} + ((100vw - 320px) / #{$maxWidth - 320}));
  }
}

@mixin bgImage($repeat, $posX, $posY, $size) {
  background-repeat: $repeat;
  background-position: $posX $posY;
  background-size: $size;
}

@mixin paddingTopBottom($top, $bottom) {
  padding-top: $top;
  padding-bottom: $bottom;
}

@mixin paddingLeftRight($left, $right) {
  padding-left: $left;
  padding-right: $right;
}

@mixin h2title {
  font-family: 'RedHatText', sans-serif;
  font-size: pxToRem(40);
  line-height: lhToSize(53, 40);
  text-align: center;
  font-weight: 500;
  font-style: normal;
  color: var(--title--color);
}

@mixin h3title {
  font-size: pxToRem(35);
  line-height: lhToSize(42, 35);
  font-style: normal;
  color: var(--text-color);
}