// Sizes

$maxWidth: 1920;
$maxWidthContainer: 1240;
$minWidth: 320;
$base-font: 16;

// Fonts
$fontFamily: 'Aleo', serif;

// Colors


// Icons
$iconsSteps: 'bicycle', 'calendar', 'airplane';
$iconsSocial: 'instagram', 'youtube', 'twitter';