.preview {
  &__container {
    @include paddingTopBottom(32px, 221px);
    color: var(--main-color);
  }

  &__title {
    font-size: pxToRem(80);
    line-height: lhToSize(96, 80);
    font-weight: 700;

    @media screen and (max-width: 571px){
      display: none;
    }
  }

  &__text {
    margin-top: 46px;
    font-size: pxToRem(20);
    line-height: lhToSize(24, 20);
    font-weight: 700;
    font-style: italic;

    @media screen and (max-width: 571px){
      display: none;
    }
  }

  &__form{
    margin-top: 46px;
  }
}