.destinations {
  &__container {
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
  }

  &__title {
    @include h2title;
  }

  &__slider {
    margin-top: 46px;
  }

  &__button {
    padding: 13.5px 31px;
    margin-top: 84px;
    display: flex;
    column-gap: 10px;
    font-size: pxToRem(24);
    line-height: lhToSize(31.75, 24);
    font-family: 'RedHatText', 'sans-serif';
    font-weight: 500;
    color: var(--main-color);

    &:before {
      content: '';
      width: 30px;
      height: 22.5px;
      margin: 0 auto;
      background-image: url(pathIcon('arrow'));
      @include bgImage(no-repeat, 0, 0, cover);
    }
  }
}