.footer {
  &__container {
    @include paddingTopBottom(13.35px, 13.35px);
    color: var(--main-color);
  }

  &__content {
    margin-left: auto;
    max-width: 730px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__copyrights {

  }

  &__socials {
    justify-self: end;
  }
}