.burger__menu {
  position: relative;
  width: 26.25px;
  height: 3px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color: var(--main-color);
  z-index: 1;

  @media screen and (min-width: 671px) {
    display: none;
  }

  &:before, &:after {
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    left: 0;
    -webkit-border-radius: inherit;
    -moz-border-radius: inherit;
    border-radius: inherit;
    background-color: inherit;
  }

  &:before {
    top: -7px;
  }

  &:after {
    bottom: -7px;
  }

  &-close {
    position: absolute;
    display: none;
    top: 15px;
    left: 5px;

    @media screen and (max-width: 671px) {
      display: block;
    }

    &:before, &:after {
      content: '';
      position: absolute;
      width: 20px;
      height: 2px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      background-color: rgba(#fff, 0.7);
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }
  }

  &-hidden{
    @media screen and (max-width: 671px) {
      display: none;
    }
  }
}