.cards {
  display: flex;
  justify-content: space-between;
  column-gap: 15px;

  &__item {
    flex: 0 0 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
  }

  &__icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: var(--title--color);
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;

    @media screen and (max-width: 571px){
      width: 70px;
      height: 70px;
    }
  }

  &__icon {
    width: 55px;
    height: 55px;

    @media screen and (max-width: 571px){
      width: 35px;
      height: 35px;
    }

    @each $icon in $iconsSteps {
      &.#{$icon} {
        background-image: url(pathIcon($icon));
      }
    }

    @include bgImage(no-repeat, 0, 0, 100%);
  }

  &__text {
    font-size: pxToRem(20);
    line-height: lhToSize(24, 20);
    color: var(--text-color);
    text-align: center;

    @media screen and (max-width: 571px){
      font-size: pxToRem(10);
      line-height: lhToSize(12, 10);
    }
  }
}