.form-preview {
  display: flex;
  justify-content: space-between;
  padding: 18px;
  max-width: 892px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
  background-color: rgba(#fff, 0.7);
  column-gap: 10px;

  @media screen and (max-width: 671px){
    padding: 16px;
  }

  &__input {
    flex: 1 1 560px;
    font-size: pxToRem(24);
    line-height: lhToSize(29, 24);
    font-family: $fontFamily;
    font-style: italic;
    color: var(--title--color);
    background-color: transparent;

    @media screen and (max-width: 561px){
      font-size: pxToRem(14);
      line-height: lhToSize(16.8, 14);
    }

    &::placeholder {
      color: inherit;
      font-size: inherit;
      line-height: inherit;
      font-style: inherit;

      @media screen and (max-width: 561px){
        font-size: inherit;
        line-height: inherit;
      }
    }
  }

  &__button {
    padding: 13.5px 32.5px;
    white-space: nowrap;

    @media screen and (max-width: 561px){
      padding: 7.5px 9px;
      font-size: pxToRem(11);
      line-height: lhToSize(14.55, 11);
    }

    @media screen and (max-width: 341px){
      padding: 4px 7px;
      font-size: pxToRem(9);
      line-height: lhToSize(12, 9);
    }
  }
}