.logo {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;

  &__title {
    margin-left: 6px;
    font-family: RedHatText, sans-serif;
    font-size: pxToRem(32);
    line-height: lhToSize(38.88, 32);
    font-weight: 600;
    white-space: nowrap;

    @media screen and (max-width: 931px) {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      border: 0;
      padding: 0;
      white-space: nowrap;
      clip-path: inset(100%);
      clip: rect(0 0 0 0);
      overflow: hidden;
    }
  }

  &:before {
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    background-image: url(pathIcon('logo'));
    @include bgImage(no-repeat, 0, 0, 100%);
    z-index: 10;
  }
}