.socials {
  &__list {
    display: flex;
    align-items: center;
    column-gap: 21.4px;
  }

  &__link {
    &:before {
      content: '';
      display: block;
      width: 32px;
      height: 32px;
      @include bgImage(no-repeat, 0, 0, 100%);
    }
    
    @each $icon in $iconsSocial{
      &.#{$icon}:before{
        background-image: url(pathIcon($icon));
      }
    }
  }
}